.header {
    width: 90%;
    margin: auto;
    height: 65px;
    background: black;
    color: white;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.5px);
    -webkit-backdrop-filter: blur(7.5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.header p{
    font-weight: 700;
}