* {
  margin:0;
  padding:0;
  font-size: 15px;
}

.useless {
  color: #000;
  display: none;
}

.reload {
  border-color: red !important;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.reload:hover {
  background-color: rgba(255, 0, 0, 0.3) !important;
}

.form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  background-color: white;
  border: 2px rgb(116, 111, 111) solid;
  border-radius: 5px;
  width:90%;
}

.form_item{
  margin: 10px;
}

.form_item.text2:focus {
  border: 3px solid rgb(0, 0, 0) !important;
  text-decoration: none !important;
}

.text{
  width: 300px;
  height: 40px;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}

.button{
  width: 150px;
  height: 40px;
  border: 2px rgb(7, 201, 255) solid;
  border-radius: 10px;
  font-size: 15px;
  background-color: rgb(255, 255, 255);
}

.button:hover{
  background-color: rgb(218, 247, 255);
  cursor: pointer;
}

.button_container{
  display:flex;
  margin: 50px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.table{
  border: 2px solid rgb(116, 111, 111);
  width:90%;
  margin: 20px auto;
  border-radius: 5px;
}

th{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 1px solid white;
  background-color: #c9f3ff;
  padding: 15px;
}

td{
  padding: 15px;
  background-color: rgb(241, 241, 241);
}

.radio{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.taxes{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin: 20px auto;
}

.taxes p{
  text-align: end;
  padding: 5px;
  padding-right: 50px;
}

.total{
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  border: 2px solid rgb(116, 111, 111);
  border-left: 0px;
  border-right: 0px;
  width: fit-content;
  padding: 10px;
  padding-right: 0px;
  margin-right: 50px;
  text-align: end;
}

.form_received{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-content: center;
  margin:20px;
}

.form_received label{
  align-self: center;
}


.text2{
  width: 150px;
  height: 30px;
  border: 2px rgb(0, 39, 145) solid;
  border-radius: 5px;
  background-color: #f2fcff;
  padding:8px;
}

.total_words{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin:20px;
}

.sign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin:20px;
  margin-top: 150px;
}

.terms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 50px;
}

#words{
  margin-top:10px;
}
.bold{
  font-weight: 800;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
